block config
  include ../config/config.jade

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    // PACE
    link(rel='stylesheet', type='text/css', href=plugins+'PACE/themes/blue/pace-theme-flash.css')
    script(type='text/javascript', src=plugins+'PACE/pace.min.js')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href=plugins+'bootstrap/dist/css/bootstrap.min.css')
    // Fonts
    link(rel='stylesheet', type='text/css', href=plugins+'themify-icons/themify-icons.css')
    link(rel='stylesheet', type='text/css', href=plugins+'font-awesome/css/font-awesome.min.css')
    // Malihu Scrollbar
    link(rel='stylesheet', type='text/css', href=plugins+'malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
    // Animo.js
    link(rel='stylesheet', type='text/css', href=plugins+'animo.js/animate-animo.min.css')
    // Bootstrap Progressbar
    link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')
    // Summernote
    link(rel='stylesheet', type='text/css', href=plugins+'summernote/dist/summernote.css')
    block css
    // Primary Style
    link(rel='stylesheet', type='text/css', href=build+'css/umega.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    | 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    include main-sidebar.jade
    include header.jade
    // Work Here start
    section.wrapper
      include page-header.jade
      block main-content
    // Work Here end
    include right-sidebar.jade
    include setting.jade
    include compose-mail.jade
    // jQuery
    script(type='text/javascript', src=plugins+'jquery/dist/jquery.min.js')
    // jQuery Cookie
    script(type='text/javascript', src=plugins+'jquery.cookie/jquery.cookie.js')
    // Bootstrap JavaScript
    script(type='text/javascript', src=plugins+'bootstrap/dist/js/bootstrap.min.js')
    // jQuery Advanced News Ticker
    script(type='text/javascript', src=plugins+'jquery-advanced-news-ticker/js/newsTicker.js')
    // Malihu Scrollbar
    script(type='text/javascript', src=plugins+'malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    // Animo.js
    script(type='text/javascript', src=plugins+'animo.js/animo.min.js')
    // Bootstrap Progressbar
    script(type='text/javascript', src=plugins+'bootstrap-progressbar/bootstrap-progressbar.min.js')
    // Sparkline
    script(type='text/javascript', src=plugins+'kapusta-jquery.sparkline/dist/jquery.sparkline.min.js')
    // Summernote
    script(type='text/javascript', src=plugins+'summernote/dist/summernote.min.js')
    block js
    // Custom JS
    script(type='text/javascript', src=build+'js/app.js')
    script(type='text/javascript', src=build+'js/demo.js')
    block custom-js