extends ../template/template.jade
block custom-js
  script(type='text/javascript', src=build+'js/pages/mailbox.js')
block title
  title Umega App - Mailbox
block navigation
  ul.list-unstyled.navigation.mb-0
    li.header Main
    li
      a.bubble(href='index.html')
        i.ti-home
        |  Dashboard
        span.badge.bg-danger 3
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse2', aria-expanded='false', aria-controls='collapse2')
        i.ti-palette
        |  Skins
      ul#collapse2.list-unstyled.collapse
        li
          a(href='red-skin.html') Red
        li
          a(href='green-skin.html') Green
        li
          a(href='yellow-skin.html') Yellow
    li.header Components
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse3', aria-expanded='false', aria-controls='collapse3')
        i.ti-receipt
        |  Basic
      ul#collapse3.list-unstyled.collapse
        li
          a(href='buttons.html') Buttons
        li
          a(href='carousels.html') Carousels
        li
          a(href='containers.html') Containers
        li
          a(href='dialogs.html') Dialogs
        li
          a(href='basic-inputs.html') Inputs
        li
          a(href='navigations.html') Navigations
        li
          a(href='progress-bars.html') Progress bars
        li
          a(href='typography.html') Typography
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse4', aria-expanded='false', aria-controls='collapse4')
        i.ti-ruler-pencil
        |  Editors
      ul#collapse4.list-unstyled.collapse
        li
          a(href='summernote.html') Summernote
        li
          a(href='bootstrap-markdown.html') Bootstrap markdown
        li
          a(href='code-prettify.html') Code prettify
        li
          a(href='ckeditor.html') CKEditor
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse5', aria-expanded='false', aria-controls='collapse5')
        i.ti-location-arrow
        |  Pickers
      ul#collapse5.list-unstyled.collapse
        li
          a(href='color-picker.html') Color picker
        li
          a(href='datetime-picker.html') Datetime picker
        li
          a(href='clock-picker.html') Clock picker
        li
          a(href='date-range-picker.html') Date range picker
        li
          a(href='multi-select.html') Multi select
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse6', aria-expanded='false', aria-controls='collapse6')
        i.ti-layers-alt
        |  Forms
      ul#collapse6.list-unstyled.collapse
        li
          a(href='form-layouts.html') Layouts
        li
          a(href='jquery-validation.html') Validation
        li
          a(href='jquery-steps.html') Wizard
        li
          a(href='other-plugins.html') Other plugins
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse7', aria-expanded='false', aria-controls='collapse7')
        i.ti-face-smile
        |  Icons
      ul#collapse7.list-unstyled.collapse
        li
          a(href='glyphicons.html') Glyphicons
        li
          a(href='font-awesome.html') Font awesome
        li
          a(href='material-design.html') Material design
        li
          a(href='themify.html') Themify
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse8', aria-expanded='false', aria-controls='collapse8')
        i.ti-layout-grid2
        |  Tables
      ul#collapse8.list-unstyled.collapse
        li
          a(href='basic-tables.html') Basic tables
        li
          a(href='data-tables.html') Data tables
        li
          a(href='pricing-tables.html') Pricing tables
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse9', aria-expanded='false', aria-controls='collapse9')
        i.ti-control-forward
        |  Animations
      ul#collapse9.list-unstyled.collapse
        li
          a(href='basic-animations.html') Basic
        li
          a(href='loading-animations.html') Loading
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse10', aria-expanded='false', aria-controls='collapse10')
        i.ti-upload
        |  File uploads
      ul#collapse10.list-unstyled.collapse
        li
          a(href='dropzone-js.html') Dropzone
        li
          a(href='bootstrap-file-input.html') Bootstrap file input
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse11', aria-expanded='false', aria-controls='collapse11')
        i.ti-info-alt
        |  Indicators
      ul#collapse11.list-unstyled.collapse
        li
          a(href='toastr.html') Toastr
        li
          a(href='sweet-alert.html') Sweet alert
    li.header Data visualization
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse12', aria-expanded='false', aria-controls='collapse12')
        i.ti-bar-chart
        |  Charts
      ul#collapse12.list-unstyled.collapse
        li
          a(href='flot-charts.html') Flot charts
        li
          a(href='morris-charts.html') Morris charts
        li
          a(href='chart-js.html') Chart.js
        li
          a(href='other-charts.html') Other charts
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse13', aria-expanded='false', aria-controls='collapse13')
        i.ti-location-pin
        |  Maps
      ul#collapse13.list-unstyled.collapse
        li
          a(href='vector-maps.html') Vector maps
        li
          a(href='google-maps.html') Google maps
    li.header Page kits
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse14', aria-expanded='false', aria-controls='collapse14')
        i.ti-alert
        |  Error pages
      ul#collapse14.list-unstyled.collapse
        li
          a(href='400.html') 400 Bad request
        li
          a(href='401.html') 401 Unauthorized
        li
          a(href='403.html') 403 Forbidden
        li
          a(href='404.html') 404 Not found
        li
          a(href='500.html') 500 Internal server error
        li
          a(href='503.html') 503 Service unavailable
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse15', aria-expanded='false', aria-controls='collapse15')
        i.ti-user
        |  User pages
      ul#collapse15.list-unstyled.collapse
        li
          a(href='login.html') Login
        li
          a(href='register.html') Registration
        li
          a(href='forgot.html') Forgot password
        li
          a(href='lock-screen.html') Lock screen
        li
          a(href='profile.html') Profile
    li.panel
      a.active(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse16', aria-expanded='true', aria-controls='collapse16')
        i.ti-panel
        |  Apps
      ul#collapse16.list-unstyled.collapse.in
        li
          a.active(href='mailbox.html') Mailbox
        li
          a(href='calendar.html') Calendar
        li
          a(href='image-cropper.html') Image cropper
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse17', aria-expanded='false', aria-controls='collapse17')
        i.ti-blackboard
        |  Extra pages
      ul#collapse17.list-unstyled.collapse
        li
          a(href='invoice.html') Invoice
        li
          a(href='search-results.html') Search results
        li
          a(href='blank-template.html') Blank template
    li.header Help
    li
      a(href='documentation.html')
        i.ti-help-alt
        |  Documentation
    li.header Menu Levels
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse18', aria-expanded='false', aria-controls='collapse18')
        i.ti-folder
        |  Menu levels
      ul#collapse18.list-unstyled.collapse
        li
          a(href='#') Menu level 2.1
        li.panel
          a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse18', href='#collapse21', aria-expanded='false', aria-controls='collapse21') Menu level 2.2
          ul#collapse21.list-unstyled.collapse
            li
              a(href='#') Menu level 3.1
            li.panel
              a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse21', href='#collapse31', aria-expanded='false', aria-controls='collapse31') Menu level 3.2
              ul#collapse31.list-unstyled.collapse
                li
                  a(href='#') Menu level 4.1
                li.panel
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse31', href='#collapse41', aria-expanded='false', aria-controls='collapse41') Menu level 4.2
                  ul#collapse41.list-unstyled.collapse
                    li
                      a(href='#') Menu level 5.1
                    li
                      a(href='#') Menu level 5.2
block page-header
  | Mailbox
block breadcrumb
  ol.breadcrumb.mb-0
    li
      a(href='#') Umega
    li
      a(href='#') Apps
    li.active Mailbox
block main-content
  .main-content.container-fluid.p-0
    .row.row-0.mailbox
      .col-md-5
        ul.media-list.inbox
          li.media
            .pull-left
              .form-group.has-feedback.mb-0
                input.form-control.rounded(type='text', aria-describedby='inputSearchInbox', placeholder='Search inbox...')
                span.ti-search.form-control-feedback(aria-hidden='true')
                span#inputSearchInbox.sr-only (default)
            .pull-right
              .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
                .btn-group(role='group', aria-label='First group')
                  button.btn.btn-outline.btn-default(type='button')
                    i.ti-archive
                  button.btn.btn-outline.btn-default(type='button')
                    i.ti-heart
                  button.btn.btn-outline.btn-default(type='button')
                    i.ti-trash
          li.media
            .checkbox-custom.pull-left
              input#mailboxCheckbox1(type='checkbox', value='value1')
              label(for='mailboxCheckbox1')
            a(href='javascript:;')
              .media-left.avatar
                img.media-object.img-circle(src=build+'images/users/02.jpg', alt='')
                span.status.bg-success
              .media-body
                h6.media-heading Mark Barnett
                h5.title Posuere convallis sociis nisi euismod
                p.summary Arcu sed in tortor non convallis laoreet commodo ullamcorper ultrices...
              .media-right.text-nowrap
                time.fs-11(datetime='2015-12-10T20:50:48+07:00') 9 mins
          li.media
            .checkbox-custom.pull-left
              input#mailboxCheckbox2(type='checkbox', value='value2')
              label(for='mailboxCheckbox2')
            a(href='javascript:;')
              .media-left.avatar
                img.media-object.img-circle(src=build+'images/users/11.jpg', alt='')
                span.status.bg-danger
              .media-body
                h6.media-heading Alexander Gilbert
                h5.title Posuere convallis sociis nisi euismod
                p.summary Arcu sed in tortor non convallis laoreet commodo ullamcorper ultrices...
              .media-right.text-nowrap
                i.ti-clip
                time.fs-11(datetime='2015-12-10T20:42:40+07:00') 15 mins
          li.media.read
            .checkbox-custom.pull-left
              input#mailboxCheckbox3(type='checkbox', value='value3')
              label(for='mailboxCheckbox3')
            a(href='javascript:;')
              .media-left.avatar
                img.media-object.img-circle(src=build+'images/users/12.jpg', alt='')
                span.status.bg-success
              .media-body
                h6.media-heading Amanda Collins
                h5.title Posuere convallis sociis nisi euismod
                p.summary Arcu sed in tortor non convallis laoreet commodo ullamcorper ultrices...
              .media-right.text-nowrap
                time.fs-11(datetime='2015-12-10T20:35:35+07:00') 22 mins
          li.media.active
            .checkbox-custom.pull-left
              input#mailboxCheckbox4(type='checkbox', value='value4')
              label(for='mailboxCheckbox4')
            a(href='javascript:;')
              .media-left.avatar
                img.media-object.img-circle(src=build+'images/users/13.jpg', alt='')
                span.status.bg-warning
              .media-body
                h6.media-heading Christian Lane
                h5.title Posuere convallis sociis nisi euismod
                p.summary Arcu sed in tortor non convallis laoreet commodo ullamcorper ultrices...
              .media-right.text-nowrap
                i.ti-clip
                time.fs-11(datetime='2015-12-10T20:27:48+07:00') 30 mins
          li.media.read
            .checkbox-custom.pull-left
              input#mailboxCheckbox5(type='checkbox', value='value5')
              label(for='mailboxCheckbox5')
            a(href='javascript:;')
              .media-left.avatar
                img.media-object.img-circle(src=build+'images/users/01.jpg', alt='')
                span.status.bg-success
              .media-body
                h6.media-heading Edward Garcia
                h5.title Posuere convallis sociis nisi euismod
                p.summary Arcu sed in tortor non convallis laoreet commodo ullamcorper ultrices...
              .media-right.text-nowrap
                time.fs-11(datetime='2015-12-10T20:35:35+07:00') Yesterday
      .col-md-7
        .single-mail
          .clearfix
            .pull-left
              .media
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/13.jpg', alt='')
                  span.status.bg-warning
                .media-body(style='width:auto')
                  h6.media-heading Christian Lane
                  p.text-muted.mb-0
                    a(href='#') christian.lane@gmail.com
                    |  to me
            .pull-right
              .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
                .btn-group
                  button.btn.btn-outline.btn-default(type='button') Reply
                  button.btn.btn-outline.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu.pull-right.animated.fadeInDown(role='menu')
                    li
                      a(href='#') Reply
                    li
                      a(href='#') Reply To All
                    li
                      a(href='#') Forward
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Print
                    li
                      a(href='#') Mark as spam
                    li
                      a(href='#') Mark as unread
                    li
                      a(href='#') Delete this message
                .btn-group(role='group', aria-label='Second group')
                  button.btn.btn-outline.btn-default(type='button')
                    i.ti-angle-left
                  button.btn.btn-outline.btn-default(type='button')
                    i.ti-angle-right
          h3.fw-300 Lorem ipsum dolor sit amet, consectetur adipisicing.
          p.drop-cap
            | Morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img.img-responsive.mb-10(src=build+'images/backgrounds/05.jpg', alt='')
          p
            | Prey dick shrike abattoir huntress thomas collector; red amanda lillian superman. Mask amanda scorn batmobile creeper.
            | Tally, deadshot flash bullock catwoman hatter society society bullock dent hammer. Kyle martha zucco kobra moth the
            | hood drake rumor aiko hammer. Katana deathstroke society of al catwoman tumbler thorne harvey quinn lazarus, spoiler
            | drake. Bane firefly strange toymaker kane amanda rhino chimera. Abbott thorne league nocturna flash. Cypher lazarus
            | wayne mugsy gleeson black wayne clayface lantern society gleeson cluemaster. Society vicki society shiva sinestro.
          p
            | Chimera, outsider bat rupert ali grundy doom smoke batcave poison raatko spoiler clench. Kobra copperhead firebug
            | pennyworth oracle lucius azrael tumbler damian black. Quinn al huntress swamp elongated clock echo alcor. Red
            | fairchild hood ali fox edward maroni bat cypher supergirl, huntress cluemaster! Batarang huntress kane, harley ra
            | Carmine al green alfred. Abdullah, cobblepot justice wayne lazarus blink barbara selina amanda zatanna. Cypher scorn
            | freeze superman. Harlequin elongated beetle.
          hr
          ul.media-list
            li.media
              a(href='#')
                .media-left
                  i.fa.fa-file-text-o
                .media-body template-text-file.txt
                .media-right 2.5MB
            li.media
              a(href='#')
                .media-left
                  i.fa.fa-file-pdf-o
                .media-body template-pdf-file.pdf
                .media-right 4.0MB
            li.media
              a(href='#')
                .media-left
                  i.fa.fa-file-word-o
                .media-body template-word-file.pdf
                .media-right 462KB
          hr
          .row
            .col-sm-4
              .thumbnail
                img(src=build+'images/backgrounds/07.jpg', alt='')
                .text-right.caption.pb-0
                  ul.list-inline.mb-0
                    li
                      a(href='#')
                        i.ti-save.text-info
                    li
                      a(href='#')
                        i.ti-shield.text-danger
            .col-sm-4
              .thumbnail
                img(src=build+'images/backgrounds/08.jpg', alt='')
                .text-right.caption.pb-0
                  ul.list-inline.mb-0
                    li
                      a(href='#')
                        i.ti-save.text-info
                    li
                      a(href='#')
                        i.ti-shield.text-danger
            .col-sm-4
              .thumbnail
                img(src=build+'images/backgrounds/09.jpg', alt='')
                .text-right.caption.pb-0
                  ul.list-inline.mb-0
                    li
                      a(href='#')
                        i.ti-save.text-info
                    li
                      a(href='#')
                        i.ti-shield.text-danger
          hr
          textarea#email-editor
          .text-right
            button.btn.btn-raised.btn-success(type='button') Send